<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="mainDiv">
    <div>
      <p class="welcomeMessage">Hello <span style="color: #00008C;">Hetal</span>,
        <span >Welcome</span>
      </p>
    </div>

    <div class="top-card" >
      
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <p class="contribute">Contribute for a Cause</p>
            <p class="msg">Start syncing your activities, complete <span style="font-weight: 600;color: #FFFFFF;">1 marathon or equivalent to contribute a tree</span></p>
          </ion-col>
          <ion-col size="3" class="right-col">
              <span class="orange-tab"></span>
              <p class="tree-text">Trees Contributed</p>
              <img class="plant" src="assets/images/plant_graphic.png">
          </ion-col>
        </ion-row>
        <div class="sync-button">
          <ion-button (click)="openProgress()" color="light" style="text-transform: none;"><span class="sync-text"><ion-icon style="margin-right:5px;" name="sync-outline"></ion-icon> Sync Activity</span></ion-button>
        </div>
      </ion-grid>
      
    </div>
    <div id="progress" class="top-card" style="display: none;">
      <ion-grid>
        <ion-row>
          <ion-col size="9" >
            <p class="contribute">Your Progress<br><span class="marathon-text">Complete a Marathon, Contribute a tree</span></p>
            
            <p><ion-progress-bar value="0.5" color="warning" style=" width: 90%; position: relative;
              float: left;
              left: 2%;"></ion-progress-bar></p>
            <p class="progress-km" ><span style="font-weight:100 ;">0 Km</span><span>21 Km</span><span style="font-weight:100 ;">42.195 km<br> 1 marathon</span></p> 
          </ion-col>
          <ion-col size="3" class="right-col">
              <span class="orange-tab"></span>
              <span class="expand"></span>
              <p class="tree-text">Trees Contributed</p>
              <img class="plant" src="assets/images/plant_graphic.png">
          </ion-col>
        </ion-row>
        <div class="divider"></div>
        <div class="activity-info">
          <p class="activity-logo">
            <img src="assets/images/walk-3.png"  class="activity"><!--*ngIf="isWalking"-->
            <img src="assets/images/run.png"  class="activity"><!-- *ngIf="isJogging"-->
            <img src="assets/images/swim.png"  class="activity">
            <img src="assets/images/cycle.png"  class="activity">
          </p>
          <p style="margin-left: 20px; font: normal normal normal 15px/18px Bw Modelica;
          letter-spacing: 0.12px;
          color: #FFFFFF;
          opacity: 1; font-weight:600 ;">View ongoing activities</p>
          <!-- <p class="expand"><img src="assets/images/expand-1.png"></p> -->
        </div>
      </ion-grid>
      </div>
    <ion-card class="activity-wise" >
      <span class="strike"></span>
      Activity-wise distance calculation?<button id="open-modal" expand="block" style="background-color:#FFFFFF ;"><span style="color:#006FBA; float:right;">View</span></button>
    </ion-card>
    <div>
      <p class="welcomeMessage">
        <span >Activities</span>
      </p>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="activity-cards" style="margin: 0% 0% 0% 3%;">
            <img src="assets/images/run-1.png"><span class="arrow"><img src="assets/images/view.png"></span>
            <p class="activity-title">Running/Walking</p>
            <p class="activity-stats"><img style="margin-top:5px ;" src="assets/images/distance.png" ><span style="margin-left: 10px;">0 Km</span><br>
                <img style="margin-top: 5px;" src="assets/images/calories.png" ><span style="margin-left: 10px;">0 KCal</span></p>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="activity-cards" style="margin: 0% 4% 0% 2%;">
            <img src="assets/images/cycle-1.png"><span class="arrow"><img src="assets/images/view.png"></span>
            <p class="activity-title">Cycling</p>
            <p class="activity-stats"><img style="margin-top:5px ;" src="assets/images/distance.png" ><span style="margin-left: 10px;">0 Km</span><br>
                <img style="margin-top: 5px;" src="assets/images/calories.png" ><span style="margin-left: 10px;">0 KCal</span></p>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card class="activity-cards" style="margin: 0% 0% 0% 2%;">
            <img src="assets/images/swim-1.png"><span class="arrow"><img src="assets/images/view.png"></span>
            <p class="activity-title">Swimming</p>
            <p class="activity-stats"><img style="margin-top:5px ;" src="assets/images/distance.png" ><span style="margin-left: 10px;">0 Km</span><br>
                <img style="margin-top: 5px;" src="assets/images/calories.png" ><span style="margin-left: 10px;">0 KCal</span></p>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="activity-cards" style="margin: 0% 4% 0% 2%;"><span class="yoga-orange">Coming soon</span>
            <img src="assets/images/yoga.png">
            <p class="activity-title">Yoga</p>
            <p style="font: normal normal normal 14px/20px Bw Modelica;color:#454545 ; margin-left: 3%;
            margin-top: 22px; ">Activity to be added soon</p>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div>
      <p class="welcomeMessage">
        <span >Did you Know?</span>
      </p>
    </div>
    <div class="bottom-card">
      <ion-grid>
        <ion-row>
          <ion-col size="4" style="margin-top: 15px ; margin-left: 10px;">
            <img class="plant-bottom" src="assets/images/plant-2.png">
          </ion-col>
          <ion-col size="7" class="right-col">
            <p class="bottom-text">For every <span style="font-weight: 600;">1 marathon or equivalent</span> you complete, we will dedicate a tree for <span style="color:#20AA40 ;">#GreenTomorrow</span></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!-- Activity Modal -->


  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.4" [breakpoints]="[0, 0.4]">
    <ng-template>

        
        <ion-list>
          <ion-list-header class="modal-header">
            <ion-label >List of activity-wise distance calculation</ion-label>
          </ion-list-header>
          <ion-item class="list-items">
            <ion-avatar slot="start">
              <ion-img src="assets/images/run-2.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <p>41.195 km = 1 Marathon</p>
            </ion-label>
          </ion-item >
          <ion-item class="list-items">
            <ion-avatar slot="start">
              <ion-img src="assets/images/cycle-2.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <p>50 km = 1 Marathon</p>
            </ion-label>
          </ion-item>
          <ion-item class="list-items">
            <ion-avatar slot="start">
              <ion-img src="assets/images/walk-2.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <p>41.195 km = 1 Marathon</p>
            </ion-label>
          </ion-item>
          <ion-item class="list-items">
            <ion-avatar slot="start">
              <ion-img src="assets/images/swim-2.png"></ion-img>
            </ion-avatar>
            <ion-label>
              <p>5 km = 1 Marathon</p>
            </ion-label>
          </ion-item>
        </ion-list>

    </ng-template>
  </ion-modal>

</ion-content>
