<ion-content [fullscreen]="true" scroll-y="false" >
  <div class="container">
    <img class="corner-up" src="assets/images/step gr.png">
    <img class="corner-down" src="assets/images/step gr1.png">
    <img class="step-logo" src="assets/images/1step_logo.png" alt="">
    <img class="logo" src="assets/images/LTI_logo.png">
    
    <!-- <img class="logo" src="assets/images/LTI_logo.png"> -->
  </div>
  <div class="title ion-text-center">
    <h1>1StepMiles</h1>
  </div> 
  

  <div class="strike">
    <span>Solve for Society</span>
  </div>
  <!-- <div class="tag-line">
    <span class="line" ></span>
    <span><p>Solve for society</p></span>
    <span class="line"></span>style="padding-left:2% ;margin-left: 4%;"-->
 
  <div class="three-logo">
    <div class="eee-logo" >
      <img src="assets/images/education.png">
      <p>Education  </p>
    </div>
    <div class="eee-logo empower" >
      <img src="assets/images/empower.png">
      <p>Empowerment</p>
    </div>
    <div class="eee-logo">
      <img src="assets/images/evironment.png">
      <p>Environment</p>
    </div>
  </div>
  
      

</ion-content>

